/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1 h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------- */
body {
  padding: 0 5%;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.custom-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:
    inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.controls {
}

.start-pause {
  padding: 5px;
}

.reset {
  padding: 5px;
}

.timer {
}

.counter {
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: auto;
}
.display-container {
  display: inline-flex;
  padding: 5px;
}
.display-container input {
  padding: 5px;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  border: 2px solid black;
  margin: 5px;
  box-sizing: border-box;
}

.game-frame {
  height: 70vh;
  width: 100%;
  background: #9ed691;
}
.HUD-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}
.egg {
  aspect-ratio: 2/3;
  width: 2%;
  border-radius: 60% 60% 50% 50%;
}
.choco {
  background-color: chocolate;
}
.gold {
  background-color: gold;
}

.poisoned {
  background: red;
}
